:root{
    /* Primary */

--Blue: hsl(246, 80%, 60%);

--Light-red-work: hsl(15, 100%, 70%);
--Soft-blue-play: hsl(195, 74%, 62%);
--Light-red-study: hsl(348, 100%, 68%);
--Lime-green-excersice: hsl(145, 58%, 55%);
--Violet-social: hsl(264, 64%, 52%);
--Soft-orange-care : hsl(43, 84%, 65%);

/* Neutral */

--Very-dark-blue: hsl(226, 43%, 10%);
--Dark-blue: hsl(235, 46%, 20%);
--Desaturated-blue: hsl(235, 45%, 61%);
--Pale-Blue: hsl(236, 100%, 87%);

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content-card{
    width: 350px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
h1{
    margin: 0;
    font-size: 0.5em;
}



.card{
    background-color: var(--Light-red-work);
    background-image: url("../images/icon-work.svg");
    background-repeat: no-repeat;
    background-position: top -5px right 10px;
    background-size: 50px;
    justify-self: center;
    width: 325px ;
    height: 150px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 0;
    display: flex;
    align-items: flex-end;

}

.card:nth-child(3){
    background-image: url("../images/icon-play.svg");
    background-color: var(--Soft-blue-play);

}

.card:nth-child(4){
    background-image: url("../images/icon-study.svg");
    background-color: var(--Light-red-study);

}

.card:nth-child(5){
    background-image: url("../images/icon-exercise.svg");
    background-color: var(--Lime-green-excersice);

}
.card:nth-child(6){
    background-image: url("../images/icon-social.svg");
    background-color: var(--Violet-social);

}

.card:nth-child(7){
    background-image: url("../images/icon-self-care.svg");
    background-color: var(--Soft-orange-care);

}

.principal{
    background-color: var(--Dark-blue);
    background-image: none;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.card_principal-date{
    width: 100%;
    height: 40%;
    align-items: center;

    display: flex;
    padding: 15px;
    justify-content: space-around;
    color: var(--Desaturated-blue);
}

.card_principal-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
    background-color: var(--Blue);
    border-radius: 10px;
    color: snow;
}

.profile_img{
    margin: 10px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid snow;
}
.profile-report{
    font-size: 0.5em;
}
.profile-name{
    margin: 5px 0;

}

.card_content-info{
    width: 100%;
    height: 115px;
    background-color: var(--Dark-blue);
    border-radius: 10px;
    padding: 25px;
    color: snow;
}

.card_info-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}
.card_info-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
    align-items: center;

}
.info_type{
    font-size: 0.8em;
}
.info-hours{
    font-size: 1.2em;
}
.info-total_hours{
    font-size: 0.8em;
    color: var(--Pale-Blue);
}